<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Login</title>
</head>
<body>
  <h1 class="title-page">Simple Chats</h1>
  <%- include('../partials/navbar.ejs') %>
  <h1 class="title-heading">Login</h1>
  <div class="form-container">
    <form action="/auth/sign-in" method="POST" class="flex-column">
      <div class="input-line">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
      </div>
      <div class="input-line">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
      </div>
      <button type="submit">Login</button>
    </form>
  </div>
</body>
</html>