<dialog id="edit-message-modal">
  <button type="button" id="close-btn-for-edit-message" style="align-content: end;">Close</button>
  <form action="" method="POST" class="flex-column gap10">
    <h1 id="edit-message-header"></h1>
    <textarea name="content" id="edit-content" placeholder="message content"></textarea>
    <button type="submit" id="update-btn">Update</button>
  </form>
</dialog>