<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Simple Chats</title>
</head>

<body>
  <h1 id="title">Simple Chats</h1>
  <%- include('./partials/navbar.ejs') %>
</body>

</html>