<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Simple Chats</title>
</head>

<body>
  <h1 class="title-page">Simple Chats</h1>
  <%- include('./partials/navbar.ejs') %>
  <h1 class="title-heading">Welcome to Simple Chats!</h1>
  <div class="flex gap20">
    <div class="flex-column gap10">
      <button type="button" onclick="location.href='/auth/sign-in'">Login</button>
      <button type="button" onclick="location.href='/auth/sign-up'">Sign-up</button>
    </div>
    <p>
      Welcome to Simple Chats! a place where you can chat with any registered user.
    </p>
  </div>
</body>

</html>