/* ===== Elements ===== */
.form-container form {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

/* .form-container form select {
  min-height: 300px;
} */
/* ===== Classes ===== */
.form-container {
  display: flex;
  width: 30vw;
  max-width: 100%;
  align-self: center;
}

.form-container .input-line {
  width: max-content;
  max-width: 100%;
}

/* ===== Ids ===== */
