/* ===== Elements ===== */
#navbar div {
  width: 50vw;
  display: flex;
}

#navbar a {
  background-color: rgba(255, 255, 255, 40%);
  color: white;
  text-decoration: none;
  min-width: 100px;
  max-width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  /* margin-left: 5px;
  margin-right: 5px; */
}

/* ===== Classes ===== */
/* ===== Ids ===== */
#navbar {
  background-color: rgba(0, 0, 0, 1);
  justify-content: space-between;
  font-weight: bold;
  min-height: 50px;
}

#right-nav {
  display: flex;
  justify-content: flex-end;
}
