/* ===== Elements ===== */
#navbar div {  /* 2 divs inside of the navbar */
  width: 50vw;
  display: flex;
  align-items: center;
}

#navbar a { /* anchor tags within the navbar */
  background-color: rgba(255, 255, 255, 40%);
  color: white;
  text-decoration: none;
  min-width: 100px;
  max-width: 150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
}

/* ===== Classes ===== */
/* ===== Ids ===== */
#navbar { /* whole navbar */
  background-color: rgba(0, 0, 0, 1);
  justify-content: space-between;
  font-weight: bold;
  min-height: 50px;
}

#right-nav { /* right div of the navbar */
  justify-content: flex-end;
}
