/* ===== Imports ===== */
@import url('./navbar.css');
@import url('./forms.css');
/* ===== Elements ===== */
body {
  display: flex;
  flex-direction: column;
}
/* ===== Classes ===== */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
/* ===== Ids ===== */
#title {
  display: flex;
  align-self: center;
  text-align: center;
}
