/* ===== Imports ===== */
@import url('./navbar.css');
@import url('./forms.css');
@import url('./conversations.css');

/* ===== Elements ===== */
body {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
}

/* ===== Classes ===== */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.title-page {
  display: flex;
  align-self: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 20px;
}

.title-heading {
  display: flex;
  align-self: center;
  text-align: center;
  justify-content: center;
  width: 100%;
  margin: 0px;
}

.gap5 {
  gap: 5px;
}

.gap10 {
  gap: 10px;
}

.gap20 {
  gap: 20px;
}

.center-self {
  display: flex;
  align-self: center;
}
/* ===== Ids ===== */